---
import styles from './modalButton.module.css';
const { id, exit, name } = Astro.props;
---

<button 
  onclick={exit ? "window.location.href='/login'" : `openModal(${id})`}
  class={`${styles.button} ${exit ? styles.salida : ''}`} >
  {name}
</button>

{!exit && (
  <script>
    function openModal(id : number) {
      console.log("Abrir modal con ID:", id);
      // Aquí luego insertas la lógica para mostrar tu modal
    }
  </script>
)}
