---
import styles from './Landing.module.css';
import LogoParkify from '@/components/atoms/logoParkify/LogoParkify.astro';

---

<div class={styles.container}>
  <div class={styles.containerTitle}>
    <LogoParkify />
  </div>
  <img src="/bgAutos.png" alt="background" class={styles.cars} />
  <a href="/login" class={styles.button}>Iniciar</a>
</div>
